<div class="jumbotron">
	<h1 class="text-center">Travel With Us</h1>
</div>

<div class="jumbotron" id="flypic">
<h2>Cities Around the World</h2>
<hr>
<% @cities.each do |city| %>
<%= link_to(city) do %>
<%= city.name %> <%= city.country %>
<br>
<% end %>
	<div class="text-center"><%= image_tag "/images/1.jpg" %></div>
</div>