<!DOCTYPE html>
<html>
<head>
  <title>TravelApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class= "navbar navbar-inverted navbar-fixed-top">
	        <h1>login signup</h1>
	        <ul>
	            <li>
	                login
	            </li>
	            <li>
	                signup
	            </li>
	        </ul>
	    </nav>
<%= yield %>

</body>
</html>
