// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    padding-top: 70px;
}

.jumbotron{
    margin-bottom: 0;
}

#flypic{
    height: 400px;
    border-top: 2px solid white;
    background-color: black;
    color:white
}

.list-down{
	padding-top: 15px;
}

.yea{
	display: inline;
}