<h1>User Profile</h1>
<hr>
<p><strong>Hello</strong> <%= @user.first_name %> <%= @user.last_name %></p>
<p><strong>Email:</strong> <%= @user.email %></p>
<p class="small text-muted">Joined <%= time_ago_in_words(@user.created_at) %> ago</p>