<div class="jumbotron" id="jumbo">
	<h1 class="text-center">Book Story <small>Travel with me</small></h1>
</div>

<div class="jumbotron" id="flypic">
	<div class="container">
		<div>
			<%= image_tag("/images/1.jpg",:class => "img-responsive center-block" ) %>
		</div>
	</div>
</div>

	<h1 class="world text-center half center-block">Cities <small>Write you own story</small></h1>

<div class="container">
	<div class= "row">
			<% @cities.each do |city| %>
				<div class="col-xs-4 center-block img-responsive">
					<%= link_to(city) do %>
							<%= image_tag city.img_url, size: "320x320"%>
								<h2 class="center-block"> <span><%= city.name %></span></h2>
				<% end %>
				</div>
			<% end %>
	</div>
</div>