<div class="jumbotron" id="jumbo">
	<h1 class="text-center">Travel With Me</h1>
</div>

<div class="jumbotron" id="flypic">
	<div class="container">
		<div>
			<%= image_tag("/images/1.jpg",:class => "img-responsive center-block" ) %>
		</div>
	</div>
</div>

<div>
	<h1 class="world text-center">Cities Around the World</h1>
	<% @cities.each do |city| %>
	<div>
	<%= link_to(city) do %>
  		<%= content_tag(:div) do %>
   	 		<%= image_tag city.img_url, size: "320x426" %>
  		<% end %>
	<% end %>
	<br>
	<% end %>
</div>